*.jpg
*.txt
*.json
*.cache
*.png
*.pt
*.onnx
*.mp4


!labels_correlogram.jpg
!labels.jpg
!F1_curve.png
!P_curve.png
!PR_curve.png
!R_curve.png
!results.png
!confusion_matrix.png
!confusion_matrix_normalized.png
!val_batch0_labels.jpg
!val_batch0_pred.jpg
!val_batch1_labels.jpg
!val_batch1_pred.jpg
!val_batch2_labels.jpg
!val_batch2_pred.jpg

!best.pt